:root {
  --font-family: 14px/14px "Poppins", sans-serif;
  --theme-primary: #bb5d3c;
  --theme-secondary: #222;
}

body {
  font: var(--font-family);
  line-height: 1.4;
}

a {
  color: var(--theme-secondary);
  line-height: 1.4;
}

.bg-primary {
  background-color: var(--theme-primary) !important;
}

.btn-primary {
  background-color: var(--theme-secondary) !important;
  border: none;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: var(--theme-primary) !important;
}

.text-primary {
  color: var(--theme-primary) !important;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-size: 13px;
  font-weight: 500;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  font-size: 13px;
  font-weight: 500;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-size: 13px;
  font-weight: 500;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  font-size: 13px;
  font-weight: 500;
}

input::placeholder,
textarea::placeholder {
  font-size: 13px;
  font-weight: 500;
}

a:hover {
  color: var(--theme-primary);
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-100 {
  margin-bottom: 100px;
}

.container-fluid {
  padding-right: 70px !important;
  padding-left: 70px !important;
}

@media (max-width: 768px) {
  .container-fluid {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
}

.container-left {
  width: 19%;
}

.container-right {
  width: 81%;
}

@media (max-width: 992px) {
  .container-left {
    width: 100% !important;
  }
  .container-right {
    width: 100% !important;
  }
}

.header-container {
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

.header-container.fixed {
  background: #fff;
  color: #000;
  position: fixed;
  top: 0;
  z-index: 9999;
  animation: slide-down 0.7s;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  transition: top 0.3s;
}

@-webkit-keyframes slide-down {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-down {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.has-search .form-control {
  padding-right: 3rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 3rem;
  height: 3rem;
  line-height: 3.5rem;
  text-align: center;
  color: #aaa;
  right: 0;
  cursor: pointer;
}

.form-control {
  box-shadow: none;
  outline: none;
}

.form-control:focus {
  box-shadow: none !important;
  outline: none !important;
  border-color: #ced4da !important;
}

.pointer-events-none {
  pointer-events: none;
}

/* main menu */

.main-menu a {
  text-decoration: none !important;
}
.main-menu li {
  position: relative;
}

.main-menu > ul > li > a {
  display: block;
  padding: 12px;
  text-decoration: none;
}

.main-menu > ul > li > div {
  display: none;
}

.main-menu > ul > li > div {
  position: absolute;
  top: 30px;
  z-index: 1000;
}

.main-menu > ul > li > div > ul {
  margin-top: 30px;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 200px;
}

.main-menu > ul > li:hover > div {
  display: block;
}

.main-menu > ul > li > div > ul > li > a {
  display: block;
  padding: 12px;
  text-decoration: none;
  color: #000;
}

/* Additional styles for the nested submenu */
.main-menu > ul > li > div > ul > li > div {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.main-menu > ul > li > div > ul > li:hover > div {
  display: block;
}

.main-menu > ul > li > div > ul > li > div ul li a {
  padding: 10px;
  display: block;
}

/* Category */

.category-menu {
  position: relative;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

@media (max-width: 992px) {
  .category-menu {
    position: fixed !important;
    top: 110px !important;
    z-index: 111111;
  }
}

.category-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.category-menu ul li {
  position: relative;
}

.category-menu > ul > li > a::before {
  content: "⇾";
  margin-left: 5px;
  margin-right: 10px;
}

.more-menu::after {
  font-family: "FontAwesome";
  content: "\f054";
  font-size: 10px;
  position: absolute;
  right: 20px;
  top: 10px;
  color: #000000;
  font-weight: 400px;
}

.category-menu ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 0;
  margin: 0;
}

.category-menu li:hover > ul,
.category-menu > ul > li > ul > li:hover > ul {
  display: block;
}

.category-menu a {
  display: block;
  padding: 12.15px;
  text-decoration: none;
  color: var(--theme-secondary);
}

.category-menu a:hover,
.category-menu li:hover > a {
  background-color: #f1f1f1;
}

.category-menu > ul > li:hover > a,
.category-menu ul ul li:hover > a {
  color: var(--theme-primary);
  background-color: #e9ecef;
}

.category-menu ul ul {
  left: 100%;
  top: 0;
}

.category-menu ul ul ul {
  left: 100%;
  top: 0;
}

@media (max-width: 992px) {
  .category-menu {
    position: absolute;
    z-index: 99999;
    top: 0;
    left: 10px;
    right: 10px;
    max-height: 400px;
    overflow-y: auto;
  }

  .category-menu {
    display: none;
  }

  .category-menu > ul > li {
    position: relative;
  }

  .category-menu ul ul {
    display: none;
    position: static;
  }

  .more-menu::after {
    transform: rotate(90deg);
  }
}

.category-menu .menu-title {
  display: block;
  background: var(--theme-primary);
  color: #fff;
  padding: 14px 15px;
  cursor: pointer;
}

/* Custom OwlCarousel Styles  */

/* offer-slider-section */

.offer-slider-section {
  background: #000;
  color: #fff;
  padding: 10px 20px;
}

.offer-slider-section .owl-nav .owl-prev,
.offer-slider-section .owl-nav .owl-next {
  background-color: transparent !important;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 30px !important;
}

.offer-slider-section .owl-nav .owl-prev {
  left: 0px;
}

.offer-slider-section .owl-nav .owl-next {
  right: 0px;
}

/* banner */

.banner .owl-dots {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
}

.banner .owl-theme .owl-dots .owl-dot span {
  width: 30px !important;
  height: 10px;
  margin: 5px 7px;
  background: #d6d6d6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 0.2s ease;
  border-radius: 30px;
}

.banner .owl-theme .owl-dots .owl-dot.active span,
.banner .owl-theme .owl-dots .owl-dot:hover span {
  background: var(--theme-primary);
}

/* product Section */

.product .card {
  border: none !important;
}

.product .product-card:hover {
  border: 1px solid rgba(0, 0, 0, 0.125);
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-bottom: 1px;
}

.product .product-card .card-image img {
  width: 100%;
  headers: auto;
}

.product .product-card .card-image {
  position: relative;
}

.product .product-card .product-action {
  position: absolute;
  bottom: -40px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 1111;
  opacity: 0;
  transition: opacity 0.3s ease, bottom 0.3s ease;
  overflow: hidden;
  visibility: hidden;
}

.product .product-card:hover .product-action {
  opacity: 1;
  bottom: 20px;
  visibility: visible;
}

.product .product-card .second-image {
  position: absolute;
  top: 0;
  bottom: 0px;
  left: -100%;
  right: 0;
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease, left 0.3s ease;
  overflow: hidden;
  visibility: hidden;
}

.product .product-card:hover .second-image {
  opacity: 1;
  left: 0;
  visibility: visible;
}

.product .product-card .discount-badge {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 5px 10px;
  background-color: var(--theme-primary);
  color: #fff;
  border-radius: 3px;
  font-size: 11px;
  text-transform: lowercase;
}

.product .product-card .discount-title {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 5px 10px;
  background-color: #000;
  color: #fff;
  border-radius: 3px;
  font-size: 11px;
  text-transform: capitalize;
  opacity: 0;
  visibility: hidden;
}

.product .product-card:hover .discount-title {
  opacity: 1;
  visibility: visible;
}

.tooltip-inner {
  font-size: 12px !important;
}

.product .product-contain .product-rating {
  font-size: 14px !important;
}

.product .product-contain .product-title a {
  font-size: 15px !important;
  font-weight: 600;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  color: var(--theme-secondary);
}

.product .product-contain .product-price .sell-price {
  font-size: 16px !important;
  font-weight: 600;
  color: var(--theme-primary);
}

.product-action > div {
  border: 1px solid #000;
  border-radius: 4px !important;
}

.product-action > div a:nth-child(1),
.product-action > div a:nth-child(3) {
  background-color: #fff;
}

.product-action > div a:nth-child(1) {
  border-radius: 4px 0px 0px 4px !important;
}

.product-action > div a:nth-child(3) {
  border-radius: 0px 4px 4px 0px !important;
}

.product-action > div a:nth-child(2) {
  background-color: #000;
  color: #fff;
  font-weight: 400 !important;
}

.product-out-stock {
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.product-out-stock > div {
  background-color: #fff;
  padding: 0px 5px 0px 15px;
  opacity: 0.8;
  border-radius: 4px;
}

.product-out-stock > div > span {
  text-transform: uppercase;
  margin-top: 12px;
  color: #6c757d;
}

@media (max-width: 768px) {
  .product-out-stock > div > span {
    font-size: 11px !important;
  }
}

.product .product-head-title {
  text-align: center;
  display: block;
  width: auto;
  margin: 0 auto 50px;
  padding: 0 0px 0px;
  color: #000000;
  position: relative;
  font-size: 28px;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 0.6px;
}

@media (max-width: 768px) {
  .product .product-head-title {
    font-size: 20px;
  }
}

.product-slider .owl-nav .owl-prev,
.product-slider .owl-nav .owl-next,
.blog-slider .owl-nav .owl-prev,
.blog-slider .owl-nav .owl-next {
  background-color: #fff !important;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  position: absolute;
  top: -65px;
  width: 60px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ff4800;
  color: #6c757d !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 1;
  border-radius: 4px;
}

.product-slider .owl-nav .owl-prev,
.blog-slider .owl-nav .owl-prev {
  right: 75px;
}

.product-slider .owl-nav .owl-next,
.blog-slider .owl-nav .owl-next {
  right: 0px;
}

.custom-prev-icon::before {
  font-family: "FontAwesome";
  content: "\f30a";
  font-size: 15px;
  font-weight: 400px;
}

.custom-next-icon::before {
  font-family: "FontAwesome";
  content: "\f30b";
  font-size: 15px;
  /* color: #6c757d; */
  font-weight: 400px;
}

.owl-nav .owl-prev:hover,
.owl-nav .owl-next:hover {
  color: var(--theme-primary) !important;
}

/* Full width and top-aligned modal */
#searchModal .modal-dialog {
  width: 100%;
  margin: 0;
  height: auto;
  max-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#searchModal .modal-content {
  border-radius: 0;
}

#searchModal .modal-body {
  padding: 20px;
}

/* Footer Section */
footer {
  background-color: var(--theme-secondary);
  padding: 40px 0px 0px 0px;
}

footer .address {
  line-height: 18px;
  color: #ccc !important;
}

footer .email,
footer .phone,
footer .email a,
footer .phone a {
  color: #ccc !important;
}

.footer_title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 9px;
  text-transform: uppercase;
  color: #fff !important;
}

.footer_menu a {
  color: #ccc !important;
  display: block;
  text-decoration: none;
  line-height: 24px;
  margin-bottom: 12px;
}

.copyright {
  color: #ccc !important;
}

/* Brand */

.brand-logos {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.brand-logos:before,
.brand-logos:after {
  position: absolute;
  top: 0;
  content: "";
  width: 250px;
  height: 100%;
  z-index: 2;
}

.brand-logos:before {
  left: 0;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
    rgb(255, 255, 255)
  );
}

.brand-logos:after {
  right: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgb(255, 255, 255)
  );
}

.brand-logo-items img {
  height: 100px !important;
}

/* Slider */

/* our policy */

.our-policy .icon-link {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 4px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .our-policy .icon-link {
    width: 95% !important;
  }
  .our-policy .icon-link .col:not(:last-child)::after {
    display: none;
  }
}

.our-policy .icon-link svg {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;
}

.our-policy .icon-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.our-policy .icon-link .col {
  position: relative;
  padding-right: 2.5rem;
}

.our-policy .icon-link .col:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 2rem;
  width: 2px;
  background-color: #e5e5e5;
}

.our-policy .icon-link .col a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  padding: 40px 0px;
}

@media (max-width: 992px) {
  .our-policy .icon-link .col a {
    padding: 25px 0px !important;
  }
}

.our-policy .icon-link .col a:hover svg {
  transform: translateY(-0.5rem);
}

/* Blog Section */

.blog-section .blog-section-title {
  text-align: left;
  display: block;
  width: auto;
  margin: 0 auto 50px;
  padding: 0 0px 0px;
  color: #000000;
  position: relative;
  font-size: 28px;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 0.6px;
}

.blog-section .img-zoom {
  overflow: hidden;
}

.blog-wraper {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.blog-section .img-zoom img {
  transition: transform 0.5s ease;
}

.blog-section .img-zoom img:hover {
  transform: scale(1.1);
}

.blog-section div.zoom {
  background-position: 50% 50%;
  border-radius: 0.5rem;
  cursor: zoom-in;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.blog-section div.zoom img:hover {
  opacity: 0;
}

.blog-section div.zoom img {
  display: block;
  transition: opacity 0.5s;
  width: 100%;
}

.blog-section .blog-date {
  background-color: #000;
  display: table;
  color: #fff;
  padding: 10px 14px;
  border-radius: 3px;
  position: absolute;
  top: -40px;
}

.blog-title a {
  font-size: 1rem;
  line-height: 1;
  font-weight: 700;
  text-decoration: none;
}

.blog-title.h5 {
  line-height: 1.1 !important;
}

.blog-desc p {
  font-size: 14px;
  line-height: 21px;
  word-break: break-all;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.read-more {
  font-size: 14px;
  text-decoration: underline;
  font-weight: 600;
}

.sidebar-blog {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.sidebar-blog a {
  text-decoration: none;
}

.latest-post-item img {
  transition: transform 0.5s ease;
}

.latest-post-item img:hover {
  transform: scale(1.05);
}

.tags a {
  background: #f5f8f9;
  display: inline-block;
  padding: 8px 23px;
  border-radius: 38px;
  margin-bottom: 10px;
  border: 1px solid #eee;
  font-size: 14px;
  text-transform: capitalize;
  text-decoration: none;
}

/* hero-banner-area */

.hero-banner-area {
  width: 100%;
  overflow: hidden !important;
  box-sizing: border-box;
}

.hero-banner-item {
  width: 100%;
  overflow: hidden;
  position: relative !important;
}

.hero-banner-item img {
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hero-banner-item:hover img {
  transform: scale(1.1) rotate(1deg);
}

.hero-banner-item-overly {
  position: absolute;
  top: 0;
  left: 20px;
  display: flex;
  align-items: center;
  height: 100%;
}

.hero-banner-item-overly-full .hero-banner-title {
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  font-weight: 400;
  color: #808080;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.hero-banner-item-overly-full .hero-banner-sub-title {
  font-size: 24px;
  font-weight: 900;
  color: #000;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.hero-banner-item-overly-full .show-more {
  margin-top: 25px;
}

.hero-banner-item-overly-full a {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.4px;
  color: #e09a7b;
  text-transform: uppercase;
  padding: 0;
  text-decoration: underline;
}

.auth-section {
  max-width: 600px;
  margin: 0 auto;
  padding: 2.5rem 1rem;
}

.auth-section .toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.auth-section input,
.contact-form input,
.delivery-address input {
  padding: 23px 10px 23px 10px;
}

.checkout-section .nice-option {
  display: block;
  width: 100%;
  line-height: 0px !important;
  font-weight: 500;
  color: #757575 !important;
  outline: none !important;
  padding: 23px 10px 23px 10px;
}

.shop-section .nice-option {
  display: block;
  width: 100%;
  height: 35px !important;
  line-height: 35px !important;
  font-weight: 500;
  color: #757575 !important;
  outline: none !important;
}

.custom-btn-p {
  padding: 10px;
}

/* notification */
.notification {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.1);
  bottom: 20px;
  left: 20px;
  font-size: 15px;
  width: 350px;
  position: fixed;
  z-index: 11;
  font-size: 14px;
  display: none;
}

.notification img {
  width: 80px;
  height: 60px;
}

.notification-text {
  margin-left: 10px;
}
.notification-text p {
  font-size: 13px;
  margin: 0px 0px 5px 0px !important;
}
.notification-text h4 {
  font-size: 13px;
  display: block;
  margin: 4px 0px !important;
}

.close-button {
  position: absolute;
  top: -25px;
  right: -25px;
  border: none;
  background: var(--theme-secondary);
  cursor: pointer;
  color: #fff;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  font-size: 13px;
}

.close-button:hover {
  color: #fff;
  background-color: var(--theme-primary);
}

/* contact */
.contact-box {
  border-radius: 4px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  padding: 30px 30px;
}
.contact-box i {
  font-size: 30px;
}
.contact-box .title {
  font-size: 18px;
  color: var(--theme-secondary);
}
.contact-box .description {
  font-size: 15px;
}
.contact-form h3 {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.about-section h1 {
  font-size: 25px;
  font-weight: 600;
}
.about-section .about-desc p {
  font-size: 16px;
  line-height: 24px;
}

.pagination li a:hover {
  text-decoration: none;
}

.pagination li {
  padding: 5px 10px 5px 10px !important;
}

/* cart */

.qty-container button:focus,
.qty-container input:focus {
  outline: none;
  box-shadow: none;
}
.qty-container {
  display: flex;
}
.qty-container .input-qty {
  text-align: center;
  border: none;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
  max-width: 40px;
  height: 41px;
}
.qty-container .qty-btn-minus,
.qty-container .qty-btn-plus {
  font-size: 12px;
  height: 41px;
  width: 32px;
  transition: 0.3s;
  background-color: transparent;
  color: #000;
}

.qty-container .qty-btn-minus {
  border: none;
  border-top: 1px solid #d4d4d4;
  border-left: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
  border-radius: 4px 0px 0px 4px;
}

.qty-container .qty-btn-plus {
  border: none;
  border-top: 1px solid #d4d4d4;
  border-right: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
  border-radius: 0px 4px 4px 0px;
}

/* Chrome, Safari, Edge, Opera */
.qty-container input::-webkit-outer-spin-button,
.qty-container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.qty-container input[type="number"] {
  -moz-appearance: textfield;
}

.blog-section h1 {
  font-size: 30px;
  font-weight: 600;
}
.blog-section .blog-desc p {
  font-size: 16px;
}
.blog-desc img {
  width: 100%;
}
.comment-section p {
  font-size: 15px;
  line-height: 24px;
}
.comment-section h2 {
  font-size: 24px;
  font-weight: 600;
}
.comment-box textarea {
  width: 100%;
  height: 150px;
  resize: none;
  padding: 15px;
}

.quote {
  font-size: 22px;
  color: #223a66;
  padding: 40px;
  font-style: italic;
  border-left: 5px solid var(--theme-primary);
  margin: 25px 0px;
  background-color: #f5f8f9;
  line-height: 25px;
}

.noUi-target {
  background-color: #f0f3f2;
  border: none;
  border-radius: 0.5rem;
}

.noUi-horizontal {
  height: 8px;
}

.noUi-handle {
  background: #fff;
  border: transparent;
  border-radius: 100%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.18);
  cursor: default;
}

.noUi-handle:focus {
  outline: none;
}

.noUi-horizontal .noUi-handle {
  height: 18px;
  right: -13px;
  top: -6px;
  width: 18px;
}

.noUi-handle:after,
.noUi-handle:before {
  display: none;
}

.noUi-connects {
  border-radius: 6px;
}

.noUi-connect {
  background: var(--theme-primary);
}

.noUi-tooltip {
  background-color: transparent;
  border: none;
  color: #fff;
  height: 30px;
  line-height: 30px;
  padding: 0;
  width: 30px;
}

.filter-box-item {
  padding: 35px 30px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.filter-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
}
.filter-category ul li {
  padding: 7px 0px;
  display: flex;
  justify-content: space-between;
}
.filter-category ul li a {
  text-decoration: none;
}

/* Hide the default checkbox input */
.form-check-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Style the custom checkbox using label::before */
.form-check-label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  background-color: white;
  border: 2px solid #ddd;
  vertical-align: middle;
  transition: background-color 0.3s, border-color 0.3s;
  border-radius: 5px;
}

/* Style the custom checkbox when checked */
.form-check-input:checked + .form-check-label::before {
  background-color: var(--theme-primary);
  border-color: var(--theme-primary);
}

/* Align label text */
.form-check-label {
  position: relative;
  padding-left: 0px !important;
  cursor: pointer;
}

.product__carousel {
  display: block;
  max-width: 500px;
  margin: 1em auto 3em;
}

@media (max-width: 992px) {
  .product__carousel {
    max-width: 400px;
  }
}

.product__carousel .gallery-top {
  border: 1px solid #ebebeb;
  border-radius: 3px;
  margin-bottom: 5px;
}
.product__carousel .gallery-top .swiper-slide {
  position: relative;
  overflow: hidden;
}
.product__carousel .gallery-top .swiper-slide a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.product__carousel .gallery-top .swiper-slide a img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.product__carousel .gallery-top .swiper-slide .easyzoom-flyout img {
  min-width: 100%;
  min-height: 100%;
}
.product__carousel .swiper-button-next.swiper-button-white,
.product__carousel .swiper-button-prev.swiper-button-white {
  color: var(--theme-primary) !important;
  z-index: 111;
}
.product__carousel .gallery-thumbs .swiper-slide {
  position: relative;
  -webkit-transition: border 0.15s linear;
  transition: border 0.15s linear;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  cursor: pointer;
  overflow: hidden;
  height: calc(100% - 40px);
}
.product__carousel .gallery-thumbs .swiper-slide.swiper-slide-thumb-active {
  border-color: var(--theme-primary);
}
.product__carousel .gallery-thumbs .swiper-slide img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.swiper-slide {
  background-color: #ebebeb;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 25px !important;
}

.size-section p,
.color-section p {
  font-size: 16px;
}
.size-section .size-custom-radios div {
  display: inline-block;
}
.size-section .size-custom-radios input[type="radio"] {
  display: none;
}

.size-section .size-custom-radios input[type="radio"] + label span {
  cursor: pointer;
  color: #9f9f9f;
  user-select: none;
  border: 1px solid #e6e6e6;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  height: 2.5em;
  width: 2.5em;
  line-height: 38px;
  overflow: hidden;
  display: block;
  text-align: center;
  border-radius: 6px;
  margin-right: 0.4em;
  box-shadow: 0px 0px 5px #e5e5e5;
  transition: all 120ms ease-in-out;
}

.size-section .size-custom-radios input[type="radio"]:checked + label span {
  color: var(--theme-secondary);
  border: 1.5px solid var(--theme-primary);
}

.color-section .custom-radios div {
  display: inline-block;
}
.color-section .custom-radios input[type="radio"] {
  display: none;
}
.color-section .custom-radios input[type="radio"] + label {
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 14px;
}
.color-section .custom-radios input[type="radio"] + label span {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 6px;
  border: 2px solid #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  line-height: 30px;
}
.color-section .custom-radios input[type="radio"] + label span img {
  opacity: 0;
  transition: all 0.3s ease;
}

.color-section .custom-radios input[type="radio"] + label span {
  background-color: var(--color);
}

.color-section .custom-radios input[type="radio"]:checked + label span img {
  opacity: 1;
  width: 14px;
}

.badge {
  font-size: 14px !important;
}

.rating-num {
  margin-top: 0px;
  font-size: 45px;
}
.progress {
  margin-bottom: 5px;
}
.progress-bar {
  text-align: left;
}
.rating-desc .col-md-3 {
  padding-right: 0px;
}
.sr-only {
  margin-left: 5px;
  overflow: visible;
  clip: auto;
}

.product-details .nav-item {
  margin-right: 2rem;
}

.nav-pills {
  border-bottom: 2px solid #dfe2e1;
}

.product-details .nav-item .nav-link.active,
.product-details .nav-item .nav-link:hover {
  background-color: transparent;
  border-bottom: 2px solid var(--theme-primary);
  color: var(--theme-primary);
}

.product-details .nav-item .nav-link {
  border-radius: 0;
  color: #5c6c75;
  font-weight: 500;
  margin-bottom: -1px;
  padding: 16px 0;
  white-space: nowrap;
  font-size: 16px;
}
.product-details .tab-content {
  font-size: 15px;
  line-height: 20px;
}

.review-section p {
  font-size: 14px;
  line-height: 20px;
}

.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  cursor: pointer;
  margin-left: 10px;
}

.star {
  font-size: 1.5rem;
  color: #ccc;
}

.star:hover,
.star:hover ~ .star,
.star.selected {
  color: gold;
}

.star-icon {
  font-size: 18px;
}

.cart-section h2 {
  font-size: 24px;
}

.cart-section ul li {
  font-size: 15px;
  margin-top: 14px;
}

.cart-section ul li:last-child {
  margin-top: 20px;
}

.wishlist-section img {
  border-radius: 4px 4px 0 0;
}
.wishlist-section .close-wishlist {
  right: -12px;
  top: -12px;
  padding: 2px 4px;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.custom-checkbox label {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  padding: 0.6rem 1.2rem;
  border-radius: 0.6rem;
  transition: border-color 0.3s, background-color 0.3s;
}

.custom-checkbox label:has(input[type="radio"]:checked) {
  border-color: var(--theme-primary);
  background-color: var(--theme-primary);
}

.custom-checkbox input[type="radio"] {
  position: relative;
  width: 1.2rem;
  height: 1.2rem;
  right: 1rem;
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  appearance: none !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
}

.custom-checkbox input[type="radio"]::after {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0.2;
  border-radius: 50%;
  transition: opacity 0.3s;
  background-color: var(--theme-primary);
}

.custom-checkbox input[type="radio"]:checked::after {
  opacity: 1;
}

.btn-close {
  top: -20px;
  right: -15px;
}

@keyframes zoomIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.modal.zoom .modal-dialog {
  animation: zoomIn 0.3s ease-out;
}

.box-title {
  border-bottom: 3px solid #eee;
  position: relative;
}
.title-under-line::after {
  content: "";
  height: 2.5px;
  background-color: var(--theme-primary);
  bottom: -10px;
  left: 0;
  position: absolute;
  width: 100%;
  display: block;
}
.order-summary-item-box {
  max-height: 280px;
  overflow-y: auto;
}

.color-box {
  width: 14px;
  height: 14px;
  background-color: #c6a97e;
  border-radius: 50%;
}

.close-cart {
  top: -12px;
  right: -12px;
  padding: 2px 4px;
}

.apply-coupon {
  background-color: var(--theme-primary);
}

.category-tag a:hover {
  color: var(--theme-secondary) !important;
}
